<!-- quote begin -->
<div class="row">
  <div class="container">
    <blockquote class="quote-box">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
        Be the Crunk you want to see in the world. 
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          Abraham Lincoln
        </p>
        <p class="blog-post-bottom pull-right">
          <span class="badge quote-badge">896</span>  ❤
        </p>
      </div>
    </blockquote>
	</div>
</div>
<!-- quote end -->


<!-- jumbotron -->

<div class="jumbotron jumbotron-style">
	<h1>Welcome to Beauningful!</h1>
	<h4>World Class Meme Generation and Life Fulfillment!</h4>
  <a href="/"><img src="/img/tinydavid.png" class="myface"></a>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<!-- jumbotron end -->
